#####################################################################
##                  Heated Bed
#####################################################################
[heater_bed]
heater_pin: PA1                        # (BE0) Heater pin
sensor_pin: PB1                        # Sensor interface (TB) sensor pin
sensor_type: ATC Semitec 104GT-2       # ATC Semitec 104GT-2 temperature sensor type
control: pid                           # Control method
pid_kp: 45.480                         # PID Kp value
pid_ki: 2.314                          # PID Ki value
pid_kd: 223.419                        # PID Kd value
min_temp: -20                          # Minimum temperature
max_temp: 135                          # Maximum temperature
max_power: 0.75                        # Maximum power
pwm_cycle_time: 0.02227                # (Try to) Deal with light interference

#####################################################################
##                          Idle Timeout for Heated Bed
#####################################################################
[idle_timeout]
timeout: 1800                          # Turn off heated bed if idle for more than 30 minutes
