################################################################################
##               Manta M8P 2.0 Stepper Motor Sensorless Config
################################################################################
## !!WARNING!!
## Drivers as plugged in left to right on the manta m8p v2 are as follows:
## x0, y0, z0, z1, z2, --, x1, y1
#
# ┌─────────────────┐
# │y1     z1      x1│
# │                 │
# │                 │
# │                 │
# │ z0           z2 │
# │x0             y0│
# └─────────────────┘
###############################################################################


################################################################################
## TMC Auto Tune
################################################################################
[motor_constants siboor-42sth48-2504(s45)]
#Siboor BOM Voron Trident AWD
resistance: 0.9
inductance: 0.0016
holding_torque: 0.6
max_current: 2.5
steps_per_revolution: 200


[autotune_tmc stepper_x]
motor: siboor-42sth48-2504(s45)
sgt: 0

[autotune_tmc stepper_y]
motor: siboor-42sth48-2504(s45)
sgt: 0

[autotune_tmc stepper_x1]
motor: siboor-42sth48-2504(s45)

[autotune_tmc stepper_y1]
motor: siboor-42sth48-2504(s45)


################################################################################
## X Axis
################################################################################
[stepper_x]
step_pin: PE6                         # X-axis motor pulse pin setting
dir_pin: !PE5                         # X-axis motor direction pin setting
enable_pin: !PC14                     # X-axis motor enable pin setting
microsteps: 64                        # Motor microsteps setting
rotation_distance: 40                 # Active pulley circumference mm (2GT-20T pulley 40, 2GT-16T pulley 32)
full_steps_per_rotation: 200          # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
endstop_pin: tmc2240_stepper_x:virtual_endstop
position_min: 0                       # X-axis minimum travel - software limit
position_endstop: 300                 # Mechanical reset point coordinates for X-axis
position_max: 300                     # X-axis maximum travel - software limit
homing_speed: 80                      # Homing speed maximum 100
homing_retract_dist: 0                # Setback distance after the first trigger of the homing switch
homing_positive_dir: true             # Direction of homing (generally no change required)

[tmc2240 stepper_x]
cs_pin: PC13                          # Chip select pin
spi_software_sclk_pin: PG8            # SPI clock pin
spi_software_mosi_pin: PG6            # SPI master out slave in pin
spi_software_miso_pin: PG7            # SPI master in slave out pin
driver_TPFD: 1                        # Driver setting
run_current: 1.6                      # Running current
spi_speed: 3500000                    # SPI speed
interpolate: False                     # Interpolation
diag0_pin: ^!PF4
driver_SLOPE_CONTROL: 2
# driver_SGT: 3                         # -64 is max sensitivity

#-------------------------------------------------------------------------------
[stepper_x1]
step_pin: PD4                         # X1-axis motor pulse pin setting
dir_pin: PD3                          # X1-axis motor direction pin setting
enable_pin: !PD6                      # X1-axis motor enable pin setting
microsteps: 64                        # Motor microsteps setting
rotation_distance: 40                 # Active pulley circumference mm (2GT-20T pulley 40, 2GT-16T pulley 32)
full_steps_per_rotation: 200          # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)

[tmc2240 stepper_x1]
cs_pin: PD5                           # Chip select pin
spi_software_sclk_pin: PG8            # SPI clock pin
spi_software_mosi_pin: PG6            # SPI master out slave in pin
spi_software_miso_pin: PG7            # SPI master in slave out pin
driver_TPFD: 1                        # Driver setting
run_current: 1.6                      # Running current
spi_speed: 3500000                    # SPI speed
interpolate: False                     # Interpolation
driver_SLOPE_CONTROL: 2

################################################################################
## Y Axis
################################################################################
[stepper_y]
step_pin: PE2                         # Y1-axis motor pulse pin setting
dir_pin: !PE1                          # Y1-axis motor direction pin setting
enable_pin: !PE4                      # Y1-axis motor enable pin setting
microsteps: 64                        # Motor microsteps setting
rotation_distance: 40                 # Active pulley circumference mm (2GT-20T pulley 40, 2GT-16T pulley 32)
full_steps_per_rotation: 200          # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
endstop_pin: tmc2240_stepper_y:virtual_endstop
position_min: 0                       # Y-axis minimum travel - software limit
position_endstop: 311.1               # Mechanical reset point coordinates for Y-axis (change to 350 for 350 models)
position_max: 311.1                   # Y-axis maximum travel - software limit (change to 350 for 350 models)
homing_speed: 80                      # Homing speed maximum 100
homing_retract_dist: 0                # Setback distance after the first trigger of the homing switch
homing_positive_dir: true             # Direction of homing (generally no change required)

[tmc2240 stepper_y]
cs_pin: PE3                           # Chip select pin
spi_software_sclk_pin: PG8            # SPI clock pin
spi_software_mosi_pin: PG6            # SPI master out slave in pin
spi_software_miso_pin: PG7            # SPI master in slave out pin
driver_TPFD: 1                        # Driver setting
run_current: 1.6                      # Running current
spi_speed: 3500000                    # SPI speed
interpolate: False                     # Interpolation
diag0_pin: ^!PF3
# driver_SGT: 2                       # -64 is max sensitivity
driver_SLOPE_CONTROL: 2

#-------------------------------------------------------------------------------
[stepper_y1]
step_pin: PC7                         # Y-axis motor pulse pin setting
dir_pin: PC8                         # Y-axis motor direction pin setting
enable_pin: !PD2                      # Y-axis motor enable pin setting
microsteps: 64                        # Motor microsteps setting
rotation_distance: 40                 # Active pulley circumference mm (2GT-20T pulley 40, 2GT-16T pulley 32)
full_steps_per_rotation: 200          # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)

[tmc2240 stepper_y1]
cs_pin: PC6                           # Chip select pin
spi_software_sclk_pin: PG8            # SPI clock pin
spi_software_mosi_pin: PG6            # SPI master out slave in pin
spi_software_miso_pin: PG7            # SPI master in slave out pin
driver_TPFD: 1                        # Driver setting
run_current: 1.6                      # Running current
spi_speed: 3500000                    # SPI speed
interpolate: False                     # Interpolation
driver_SLOPE_CONTROL: 2


################################################################################
## XY Sensorless Homing
################################################################################
[gcode_macro _SAFE_HOME_XY]
gcode:
    {% set HA = printer.toolhead.homed_axes %} 
    {% set home_both = 'X' not in params.AXIS and 'Y' not in params.AXIS %}
    {% set home_y = home_both or 'Y' in params.AXIS or ('X' in params.AXIS and 'y' not in HA) %}
    {% set home_x = home_both or 'X' in params.AXIS %}

    {% set HOME_CUR = 1.2 %}
    {% set HOME_CUR_SEC = 1 %}   # Use a lower current for secondary motors so they do not cause skipped steps
    {% set driver_config_x = printer.configfile.settings['tmc2240 stepper_x'] %}
    {% set driver_config_x1 = printer.configfile.settings['tmc2240 stepper_x1'] %}
    {% set driver_config_y = printer.configfile.settings['tmc2240 stepper_y'] %}
    {% set driver_config_y1 = printer.configfile.settings['tmc2240 stepper_y1'] %}

    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
    SET_TMC_CURRENT STEPPER=stepper_x1 CURRENT={HOME_CUR_SEC}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
    SET_TMC_CURRENT STEPPER=stepper_y1 CURRENT={HOME_CUR_SEC}

    # Home
    {% if home_y %}
        G4 P1000
        G28 Y
        G91
        G1 Y-50 F8000
        G90
    {% endif %}

    {% if home_x %}
        # toolhead position does not update during homeing
        {% if not home_y and printer.toolhead.position.y < 100 %}
            G1 Y100 F3000
        {% endif %}
        
        G4 P1000
        G28 X
        G91
        G1 X-10 F8000
        G90
    {% endif %}

    # restore currents
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={driver_config_x.run_current}
    SET_TMC_CURRENT STEPPER=stepper_x1 CURRENT={driver_config_x1.run_current}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={driver_config_y.run_current}
    SET_TMC_CURRENT STEPPER=stepper_y1 CURRENT={driver_config_y1.run_current}
