[force_move]
enable_force_move: True

[gcode_arcs]
resolution: 0.1                         # Arc interpolation resolution, handles G2/G3 commands

[exclude_object]                        # Exclude object for cancellation
[respond]
[skew_correction]

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes    # Path to the virtual SD card directory

on_error_gcode: CANCEL_PRINT            # G-code to execute on error (defined in CANCEL_PRINT macro)

[include mainsail.cfg]                  # Include configuration from mainsail.cfg file
[include devices.cfg]					# Pulls in all configs related to connected devices
[include overrides.cfg]					# Homing/Ztilt overrides
[include print_actions.cfg]				# Start/Stop/Pause/Resume/Load/Unload
[include helpers.cfg]
[include motor_sync.cfg]
[include shake_tune.cfg]
[include FLAP/flap_main.cfg]


################################################################################
##                            Model and Acceleration
################################################################################
[printer]                              # Printer configuration
kinematics: corexy                     # Printer type: corexy
max_velocity: 800                      # Maximum velocity (mm/s)
max_accel: 21500                       # Maximum acceleration (mm/s^2) (found via shaketune)
max_z_velocity: 50                     # Maximum Z-axis velocity
max_z_accel: 200                       # Maximum Z-axis acceleration
minimum_cruise_ratio: 0.5              # Default 0.5
square_corner_velocity: 8              # Square corner velocity


################################################################################
##                                Input Shaping
################################################################################
[input_shaper]
shaper_freq_x: 96.6                     # center frequency for the X axis filter
shaper_type_x: mzv                      # filter type for the X axis
damping_ratio_x: 0.033                  # damping ratio for the X axis
shaper_freq_y: 86.4                     # center frequency for the Y axis filter
shaper_type_y: mzv                      # filter type for the Y axis
damping_ratio_y: 0.038                  # damping ratio for the Y axis

# Current Skew Calc
# SET_SKEW XY=100.01427,99.98573,70.71068
# SET_SKEW XY=100.10366,99.89624,70.71068 current
# SET_SKEW XY=100.04611,99.95386,70.71068
# SET_SKEW XY=100.00358,99.99642,70.71068

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.019376, 0.009414, 0.007538, 0.019157, 0.031562, 0.040458, 0.022871, 0.023817, 0.005000, -0.018301
#*# 	0.002264, 0.030754, 0.021736, 0.036390, 0.046730, 0.052618, 0.038357, 0.042720, 0.039163, 0.009665
#*# 	-0.004001, 0.026221, 0.012854, 0.025478, 0.037088, 0.042029, 0.029742, 0.030291, 0.023943, 0.002572
#*# 	-0.001035, 0.022347, 0.007000, 0.030963, 0.016895, 0.039987, 0.012735, 0.022063, 0.014519, -0.006572
#*# 	-0.005800, 0.014311, -0.003623, 0.006213, 0.015014, 0.019209, 0.001075, 0.005366, 0.012204, -0.009023
#*# 	-0.012208, 0.021198, -0.006351, 0.013099, 0.006100, 0.013268, -0.001243, 0.009447, 0.005629, -0.020170
#*# 	-0.013173, 0.005128, -0.005113, -0.010021, 0.001970, 0.001051, -0.006991, -0.000309, -0.003812, -0.019523
#*# 	-0.019543, 0.009711, -0.002105, 0.007177, 0.019549, 0.017878, 0.005907, 0.002869, -0.005231, -0.023724
#*# 	-0.029868, -0.000850, -0.014658, -0.000563, 0.012306, 0.012484, -0.003984, -0.004010, -0.010762, -0.031800
#*# 	-0.029843, -0.000134, -0.021652, 0.001148, -0.001066, 0.006064, -0.012876, -0.013369, -0.023057, -0.050117
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 45.0
#*# max_x = 255.0
#*# min_y = 25.0
#*# max_y = 255.0
#*#
#*# [motors_sync]
#*# steps_model_x = quadratic,
#*# 	15.413519872551092,
#*# 	5751.271558103341,
#*# 	-3843.536566652676
#*# steps_model_y = quadratic,
#*# 	15.413519872551092,
#*# 	5751.271558103341,
#*# 	-3843.536566652676
#*#
#*# [skew_correction calistar]
#*# xy_skew = 7.160000009177224e-05
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4267196758783116,1.895273941846867,0.8435788187882546,0.43810837970332656,0.42035788713520633,0.38807786926786497,-0.16203547241998176,-0.26769161204004,0.2705154772382337,0.2473428301565941
#*# domain = 3.1918600530929795e-07,3.323266897870125e-07
#*# z_offset = 0
#*# reference_temperature = 23.3
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER V3 6.1.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 1654
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER V3 6.1.0
