#####################################################################
##             EBB SB2209(RP2040) Extruder Motor
#####################################################################

################################################################################
## TMC Auto Tune
################################################################################

[motor_constants siboor-14sth20-1004a]
#Siboor BOM Voron Trident AWD
resistance: 1.7
inductance: 0.0015
holding_torque: 0.12
max_current: 0.95            # Was 1.88
steps_per_revolution: 200

[autotune_tmc extruder]
motor: siboor-14sth20-1004a


################################################################################
## Extruder
################################################################################

[extruder]
step_pin: EBBCan:gpio18              # Step pin
dir_pin: EBBCan:gpio19               # Direction pin, "!" indicates logic inversion
enable_pin: !EBBCan:gpio17           # Enable pin, "!" indicates logic inversion
full_steps_per_rotation: 200         # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
microsteps: 16                       # Microsteps setting
gear_ratio: 50:10                    # Gear ratio
rotation_distance: 22.6885190        # Rotation distance
nozzle_diameter: 0.400               # Nozzle diameter
filament_diameter: 1.750             # Filament diameter
max_extrude_only_distance: 100.0
max_extrude_cross_section: 5         # For purge line
heater_pin: EBBCan:gpio7             # Heater pin
control: pid                         # Control method
pid_Kp: 24.468                       # Proportional parameter of the PID controller
pid_Ki: 2.435                        # Integral parameter of the PID controller
pid_Kd: 61.475                       # Derivative parameter of the PID controller
min_temp: -20                        # Minimum temperature
max_temp: 350                        # Maximum temperature
min_extrude_temp: 150                # Minimum extrude temperature
pressure_advance: 0.04               # Pressure advance
pressure_advance_smooth_time: 0.040  # Pressure advance smooth time
sensor_type: MAX31865                # Temperature sensor type
sensor_pin: EBBCan:gpio9             # Sensor pin
spi_software_sclk_pin: EBBCan:gpio10 # SPI clock pin
spi_software_mosi_pin: EBBCan:gpio8  # SPI master out slave in pin
spi_software_miso_pin: EBBCan:gpio11 # SPI master in slave out pin
rtd_nominal_r: 1000                  # RTD nominal resistance
rtd_reference_r: 4300                # RTD reference resistance
rtd_num_of_wires: 2                  # Number of wires for the RTD

[tmc2209 extruder]
uart_pin: EBBCan:gpio20              # UART communication pin
interpolate: true                    # Enable 256 microstep interpolation
run_current: 0.60                    # Running current

#--------------------------------------------------------------------
[verify_heater extruder]             # Heater block temperature tolerance configuration
max_error: 120                       # Maximum error
check_gain_time: 120                 # Tolerance time
hysteresis: 50                       # Tolerance temperature
heating_gain: 2                      # Heating gain


#####################################################################
##                            Firmware Retract
#####################################################################

[firmware_retraction]
# G10 to retract and G11 to unrectract
retract_length: 0.5
# unretract_extra_length: 0
retract_speed: 40
unretract_speed: 40
